<div class="absolute inset-0 saturate-50 opacity-20 blur-[2px] bg-[url('/img/mod-bg.webp')] bg-no-repeat bg-cover md:bg-contain max-h-[600px]"
    style="background-position: center top;"></div>
<div class="absolute inset-0 bg-gradient-to-b from-transparent to-base-200 md:aspect-[1918/520] max-h-[600px]">
</div>