<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= typeof title !== 'undefined' ? title + ' | 2004Scape' : '2004Scape' %></title>

<link rel="stylesheet" type="text/css" href="/css/mod.css">