<li>
    <details>
        <summary><%= account.username %></summary>
        <ul class="p-2 min-w-32 bg-base-300">
            <li><a>Settings</a></li>
        </ul>
    </details>
</li>
<li><a href="/title">Return to Title</a></li>
<li><a href="/account/logout">Logout</a></li>