<div class="bg-stone-950 z-10 relative">
    <div class="container mx-auto px-4 py-1">
        <a href="/title" class="flex gap-1 items-center text-sm hover:underline">
            <i data-lucide="move-left" class="size-4"></i>
            Return to Title
        </a>
    </div>
</div>

<div class="bg-base-200 z-10 relative shadow-xl">
    <div class="navbar container mx-auto py-3 px-4">
        <div class="flex-1">
            <a href="/mod" class="flex flex-row gap-2 w-fit">
                <img src=/img/lostcity-logo-min.webp class="h-14">

                <span class="w-[2px] h-auto bg-base-300"></span>

                <span class="text-2xl font-bold text-stone-300">
                    <p class="">Mod</p>

                    <p class="leading-none font-stretch-110%">Panel</p>
                </span>
            </a>
        </div>

        <div class="flex-none">
            <ul class="menu menu-horizontal px-1 hidden md:flex">
                <%- include('nav-menu-items.ejs') %>
            </ul>

            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
                    <i data-lucide="menu" class="size-6"></i>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <%- include('nav-menu-items.ejs') %>
                </ul>
            </div>
        </div>
    </div>
</div>