<button class="btn btn-sm btn-primary" type="submit">
    <i data-lucide="search" class="size-5"></i>
</button>

<span class="tooltip" data-tip="Reset Filters">
    <a href="<%= link %>" class="btn btn-sm">
        <i data-lucide="x" class="size-5"></i>
    </a>
</span>